.page{
    width: 70%;
    height: 30vh;
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: openPage 3s forwards;
    background-color: rgb(255, 3, 3, 0.5);
    overflow-y: scroll;
}

.page > div{
    margin: 2vh;
}

@keyframes openPage{
    0%{
        transform: translateY(100vh);
        width: 70%;
        height: 30vh;
        border-radius: 20px;
    }
    7%{ 
        transform: translateY(-20vh);
        width: 70%;
        height: 30vh;
        border-radius: 20px;
    }
    13%{
        transform: translateY(15vh);
        width: 70%;
        height: 30vh;
        border-radius: 20px;
    }
    20%{
        transform: translateY(15vh);
        width: 70%;
        height: 30vh;
        border-radius: 20px;
    }
    40%{
        transform: translateY(15vh);
        width: 10%;
        height: 60vh;
        border-radius: 20px;
    }
    50%{
        transform: translateY(15vh);
        width: 22%;
        height: 50vh;
        border-radius: 20px;
    }
    60%{
        transform: translateY(15vh);
        width: 10%;
        height: 60vh;
        border-radius: 20px;
    }
    70%{
        transform: translateY(15vh);
        width: 22%;
        height: 50vh;
        border-radius: 20px;
    }
    80%{
        transform: translateY(15vh);
        width: 10%;
        height: 60vh;
        border-radius: 20px;
    }
    100%{
        transform: translateY(0vh);
        width: 100%;
        height: 100vh;
        border-radius: 0;
        backdrop-filter: blur(10px);
    }
}

.fly-in-left{
    animation: flyInLeft 1s forwards;
}

@keyframes flyInLeft{
    0%{
        transform: translateX(-100vw);
        opacity: 0;
    }
    50%{
        transform: translateX(20vw);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.fly-in-right{
    animation: flyInRight 1s forwards;
}

@keyframes flyInRight{
    0%{
        transform: translateX(100vw);
        opacity: 0;
    }
    50%{
        transform: translateX(-20vw);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes flyDown{
    0%{
        transform: translateY(-100vh);
    }
    50%{
        transform: translateY(10vh);
    }
    100%{
        transform: translateY(0);
    }
}

.back-button{
    margin-right: 50px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: flyDown 1s forwards;
}

.image-block{
    opacity: 0;
    width: 20vh;
    min-height: 20vh;
    border-radius: 10%; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-big-block{
    opacity: 0;
    width: 40vh;
    min-height: 40vh;
    border-radius: 10%; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-block{
    opacity: 0;
    width: 90%;
    min-height: fit-content;
    word-wrap: break-word;
    text-align: center;
}

.visit-button-block{
    width: 20%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.visit-button-block:hover{
    cursor: pointer;
    scale: 1.2;
}

.close-page{
    animation: closePage 2s forwards;
}

@keyframes closePage{
    0%{
        transform: translateY(0);
        width: 100%;
        height: 100vh;
        border-radius: 0;
        backdrop-filter: blur(10px);
    }
    25%{
        transform: translateY(15vh);
        width: 22%;
        height: 50vh;
        border-radius: 20px;
    }
    50%{
        transform: translateY(15vh);
        width: 10%;
        height: 60vh;
        border-radius: 20px;
    }
    100%{
        transform: translateY(100vh);
        width: 10%;
        height: 0;
        border-radius: 20px;
    }
}