body{
    margin: 0;
    padding: 0;
    font-family: "poppins", serif;
}

/* background-color: rgb(232, 234, 236); coole background color */

.home{
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 100%;
    background-color: rgb(232, 234, 236);
}