body{
    margin: 0;
    padding: 0;
}

/* background-color: rgb(232, 234, 236); coole background color */

.page{
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    position: fixed;
    top: 100%;
    background-color: rgb(232, 234, 236);
}

.test{
    width: 70%;
    height: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}
