body{
    margin: 0;
    padding: 0;
    font-family: "poppins", serif;
}

@media (prefers-color-scheme: dark) {
    body { background: #000000; color: white; } 
    .home{ background: #333; color: white; }
}

/* background-color: rgb(232, 234, 236); coole background color */

.home{
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 100%;
    background-color: rgb(232, 234, 236);
}
